@charset "utf-8";
/* CSS Document */
@font-face {
font-family: 'iconfont';
src: url('../fonts/iconfont.eot'); /* IE9*/
src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }
.text-c { text-align:center }
* { font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif, Arimo, "Helvetica Neue"; font-size: 14px; }
ul { list-style: outside none none; padding: 0; }
li { list-style: outside none none; padding: 0; }
ul li { list-style-type: none; padding: 0; }
ul { padding: 0; }
.bj-f4 { background-color: #f4f4f4 }
a { text-decoration: none; }
a:hover { text-decoration: none; }
.red { color:red; padding-top:8px; }
.qjs { color: #f86d0d; }
.fl-l { float:left }
.fl-r { float:right }
.qjbq { background-color: #f86d0d !important; }
.qjbj_white { background-color: #fff; }
.white { color: #fff; }
.textc { text-align: center; }
.textl { text-align: left; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs24 { font-size: 24px; }
.fs20 { font-size: 20px !important; }
.fs26 { font-size: 26px; }
.fs32 { font-size: 32px; }
.fs36 { font-size: 35.5px; }
.fs48 { font-size: 48px; }
.m0 { margin: 0; }
.mt10 { margin-top:10px; }
.mb10 { margin-bottom::10px
}
.mt30 { margin-top: 30px; }
.mt20 { margin-top: 20px; }
.mt50 { margin-top: 50px; }
.mb50 { margin-bottom: 50px; }
.mr15 { margin-right: 15px; }
.pl20 { margin-left: 20px; }
.p0 { padding: 0 !important; }
.pr0 { padding-right: 0; }
.pt50 { padding-top: 50px; }
.pt10 { padding-top: 10px; }
.pb10 { padding-bottom:10px; }
.pt20 { padding-top: 20px; }
.pb15 { padding-bottom:15px; }
.pb30 { padding-bottom: 30px; }
.pb50 { padding-bottom: 50px; }
.pb20 { padding-bottom: 20px; }
.bj1 { background-color: #f2f8ff !important; border-left: 0; }
.bj2 { background-color: #f4f4f4; }
.ysblue { color: #00aff0; }
.bluese{color:#555;font-weight:bold;margin-top:5px;font-size:15px;margin-bottom: 0;}
.clear { clear:both }
.fl { float: left; }
.ys7a { color: #6e6e6e; }
.br0 { border-left: 0 !important; }
.c-999 { color: #999; }
.c-666 { color: #666; }
.c-888 { color: #888; }
.lp1 { letter-spacing: 1.5px; }
.lSp1 { letter-spacing: 1px; }
.tcr { text-align: right; }
.bg_jzdq { vertical-align: middle !important; }
.c-67 { color: #676767; }
.gdgn_ys { color: #5e5e5e !important; padding: 8px 50px !important; }
.td > div { background-color: #fff; border: 1px solid #ccc; float: left; margin-right: -1px; margin-top: -1px; min-height: 140px; text-align: center; }

.dropdown i{color:#f86d0d}
.navbar-default .navbar-toggle { margin-top: 23px; }
.gnmk > div { border: 1px solid #ccc; float: left; padding: 5px 8px; min-height: 190px; background-color: #fff; }
.kkxt, .zbxt, .yyxt, .xxapp, .tkxxxt { /* border-left:0  !important;*/ }
.td2, .td3, .td4, .td5, .td10, .td15, .td20 { /*border-left:0  !important;*/ }
.td6, .td10, .td11, .td15, .td16, .td20 { /*border-top:0px !important;*/ }
.td7, .td8, .td9, .td12, .td13, .td14, .td17, .td18, .td19 { /*border-left:0  !important;border-top:0  !important;*/ }
.td img { height: 60px; margin-bottom: 10px; margin-top: 10px; }
.td .iconfont { line-height:90px; }
.mainbody-top{margin-top:100px;}
.centerImg i { font-size: 52px; color: #009ff2; }
.centerText i { font-size: 48px; color: #Fff; }
.centerText { padding-left: 0px !important; padding-right: 0px !important; }
.centerText:hover { background-color:#0183e0; transition: all 0.6s ease 0s; }
.gxrz_xw li, .jyhy_xw li, .gsdt_xw li { line-height: 40px; border-bottom: 1px solid #ccc; height: 40px; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.xinwen img { /*width: 100%;*/}
.xfw { text-align: center; }
.hd { background-color: #eb833b; margin: 0 auto; text-align: center; }
.hd img { }
.c-l-wrap { text-align: center; }
.cc-img { padding: 5px; text-align: center; }
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img { display: initial !important; }
.c-mask { padding: 0 60px; }
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img { display: initial; }
.gray { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; }
.experienceMain { background: #4a4a4a none repeat scroll 0 0; padding-top: 30px; }
.eightModules, .eightModules1 { margin: 0 auto; padding-bottom: 30px; }
.eightModules div { color: #fff; font-family: 微软雅黑;/*margin-top: 20px;*/}
.eightModules1 div { color: #666; font-family: 微软雅黑;/*margin-top: 20px;*/}
.eightModules > div > div, .eightModules1 > div > div { margin-top: 20px; min-height: 140px; }
.eightModules div img, .eightModules1 div img { margin-right: 15px; }
.eightModules div .fTit, .eightModules1 div .fTit { font-weight: bold; }
 .eightModules div .fCount, .eightModules1 div .fCount {font-size: 12px;line-height: 18px;margin: 5px 0 8px;}
.eightModules div a, .eightModules1 div a { background: #7bc767 none repeat scroll 0 0; border: 0 none; border-radius: 3px; color: #fff; font-size: 12px; overflow: visible; padding: 5px 8px; }
.eightModules div a:hover, .eightModules1 div a:hover { color: #f86d0d; text-decoration: none; }
.eightModules .morePro, .eightModules1 .morePro { margin-top: 15px; text-align: center; }
.eightModules .morePro a, .eightModules1 .morePro a { background: #2b2b2b none repeat scroll 0 0; color: #fff; font-size: 18px; padding: 5px 55px; text-align: center; }
.eightModules div img:hover, .eightModules1 div img:hover { animation: 1.2s linear 0s normal none infinite running fUp; }
.eightModules1 img { border:1px solid #ccc; border-radius: 10px; }
@keyframes fUp { 0% {transform: translateY(0px);}
 50% {transform: translateY(10px);}
 100% {transform: translateY(0px);}
}
.welcome { line-height: 30px; color: #fff; }
.c-tab-title1 { text-align: center; }
.menu { width: 100%; text-align: center; }
.tab { background-color: #ccc; border: 1px solid #ccc; border-radius: 10px; box-sizing: border-box; float: none !important; height: 50px; margin: 30px auto; overflow: hidden; padding: 0 !important; width: 304px;/**border-left: 0px;*/
}
#d1, #d2, #d3, #d0 { float: none; }
.tab1 li { background-color: #fff; cursor: pointer; display: inline-block; float: left; height: 100%; line-height: 48px; /*margin-left: 1px;*/
text-align: center; font-size: 16px; width: 33.33%; color: #7a7a7a; }
.qiehuan_left { cursor:pointer;display:none }
.qiehuan_right { cursor:pointer;display:none }
.detail .link a { color: #333; }
.tab1 .active li { background-color: #e3752e; color: #fff; }
.bt_sdk { text-align: center; margin-bottom: 30px; margin-top: 70px; }
.header_fl { text-align: center; }
.bt_sdk { background: rgba(0, 0, 0, 0) url("../images/sdk_banner.jpg") repeat-x scroll 0 0 / 100% 100%; color: #646364; margin-top: 50px; padding: 10%; text-align: center; }
.xz { font-size: 55px; }
.cg_zf img, .cg_qy img, .cg_px img { margin-top: 20px; }
.xw_bt a { color: #5e5e5e; }
.xw_bt a:hover { color: #e3752e; text-decoration: none; }
.cc-img img:hover { animation: 3s linear 0s normal none infinite running anim3; }
 @keyframes anim3 { 0% {transform: rotateY(0deg);}
 50% {transform: rotateY(180deg);}
 100% {transform: rotateY(360deg);}
}
 @keyframes anim3 { 0% {transform: rotateY(0deg);}
 50% {transform: rotateY(180deg);}
 100% {transform: rotateY(360deg);}
}
.hzs li { /*width: 20%;*/
float: left; padding: 0 20px; }
.hzs li p:hover { color:#f86d0d }
.bj_yx {     background: rgba(0, 0, 0, 0) url(../images/footer_bj.jpg) repeat scroll left;
    background-size: cover; }
#yhm { width: 40%; }
#shouji { margin-left: 2%; width: 58%; }
input { float: left; }
#tj { width: 100%; background-color: #31bfa5; color: #fff; font-size: 16px; }
.women p { line-height: 30px; }
.icon.iconfont { text-align: center; }
.gnmk { text-align: center; }
.gnmk i { color: #f86d0d; font-size: 52px; }
.gnmk > div { margin-top: -1px; margin-right: -1px; }
#footer { background: #585858 none repeat scroll 0 0; padding-top: 20px; width: 100%; }
#footer .foot-cont { margin: 0 auto; padding-top: 10px; }
#footer .ul1 { font-family: "微软雅黑"; padding-left: 12px; }
#footer .foot-top { height: 80px; margin: 0 auto; }
#footer .ul1 li { border-left: 1px solid #696969; border-right: 1px solid #484848; float: left; height: 80px; padding-left: 30px; padding-right: 30px; text-align: center; width: auto; }
#footer .ul1 li a { color: #ffffff; }
#footer .foot-zz { float: left; }
#footer .foot-8 { float: left; font-size: 72px; height: 72px; line-height: 72px; margin-right: 6px; margin-top: 10px; }
#footer .zz { font-size: 14px; padding-top: 30px; text-align: left; }
#footer .mm { font-size: 14px; padding-top: 4px; text-align: left; }
#footer .xian { height: 2px; margin-bottom: 0px; margin-top: 0px; !important;}
#footer .hei { background: #484848 none repeat scroll 0 0; height: 1px; margin: 0; }
#footer .bai { background: #686868 none repeat scroll 0 0; height: 1px; }
#footer .erma { float: left; }
#footer .foot-right p { color: #e0e0e0; font-family: "宋体"; font-size: 14px; padding-bottom: 8px; text-align: right; }
#footer .foot-right img { float: right; margin-left: 5px; margin-top: 10px; }
.xp_footer { color: #e0e0e0; }
.back a { background: rgba(0, 0, 0, 0) url("../images/back.jpg") no-repeat scroll left center; color: #999999; display: inline-block; font-size: 12px; line-height: 27px; padding-left: 50px; }
.back a:hover { color: #f86d0d; }
.nav ul { padding-top: 30px; }
.nav ul li { padding-left: 20px; }
.app_header .dropdown-menu li { width:50%; float:left; }
.nav ul li .nav_t { position: relative; width: 100%; }
.app_header .dropdown-menu > li > a { line-height:30px; }
.nav ul li .nav_t a { color: #333; display: inline-block; font-size: 14px; padding-bottom: 30px; }
.nav ul li .nav_t a:hover { color: #ff5a00; }
.nav ul li.sale .nav_t a { height: 14px; padding-bottom: 10px; text-indent: -99999px; width: 57px; }
.nav ul li.sale .nav_t a:hover { background-position: left -18px; }
.nav ul li .nav_t b { background: rgba(0, 0, 0, 0) url("../images/menu_hover.png") no-repeat scroll 0 0; bottom: 0; display: inline-block; height: 8px; left: 50%; margin-left: -10px; position: absolute; width: 20px; z-index: 9999; }
.nav ul li .nav_c { /**下移菜单**/ background-color: #f86d0d; /*display: none;*/
left: 0; overflow: hidden; padding: 20px 0 0; position: absolute; width: 100%; z-index: 2; }
.nav ul li .nav_c .nav_c_t { float: left; overflow: hidden; /*width:33%;*/
border-right: 1px solid #df620c; }
.nav ul li .nav_c .nav_c_t h3 { color: #fff; font-size: 30px; font-weight: normal; line-height: 40px; margin: 0; overflow: hidden; padding: 0; width: 100%; }
.nav ul li .nav_c .nav_c_t_l { float: left; margin-right: 60px; min-height: 100px; overflow: hidden; }
.nav ul li .nav_c .nav_c_t_l p.p1 { color: #fff; font-size: 14px; line-height: 18px; margin-bottom: 10px; }
.nav ul li .nav_c .nav_c_t_l p { line-height: 22px; }
.nav ul li .nav_c .nav_c_t_l p a { color: #fff; font-size: 14px; }
.nav ul li .nav_c .nav_c_t_l p a:hover { text-decoration: underline; }
.nav ul li .nav_c .nav_c_t_l p a b { background: rgba(0, 0, 0, 0) url("../images/cndns_domainname_chinese_img.png") no-repeat scroll -491px -332px; display: inline-block; float: left; height: 17px; margin: 3px 6px 0 0; width: 17px; }
.nav ul li .nav_c .nav_c_c { background-color: #de5a00; height: 57px; overflow: hidden; width: 100%; }
.nav ul li .nav_c .nav_c_c .nav_c_c_h { line-height: 57px; margin: 0 auto; overflow: hidden; padding: 0; position: relative; width: 1004px; }
.nav ul li .nav_c .nav_c_c .nav_c_c_h a { color: #fff; float: left; font-size: 18px; }
.nav ul li .nav_c .nav_c_c .nav_c_c_h a.a1 { font-size: 14px; text-decoration: underline; }
.nav ul li .nav_c .nav_c_c .nav_c_c_h p { line-height: 57px; }
.nav ul li .nav_c .nav_c_c .nav_c_c_h b { background: rgba(0, 0, 0, 0) url("../images/menu_hover.png") no-repeat scroll -491px -332px; display: inline-block; float: left; height: 17px; margin: 22px 6px 0 30px; width: 17px; }
.getpass_p1 { color: #f86d0d; font-size: 24px; line-height: 24px; margin: 47px 0 0 15px; }
.getpass_p2 { color: #666666; font-size: 14px; line-height: 14px; margin: 42px 0 0; }
.getpass_p2 a { color: #999999; text-decoration: underline; }
.getpass_p2 a:hover { color: #f86d0d; }
.bt_w_y i { color: #f86d0d; font-size: 38px; line-height: 63px; }
.nav_c_t { padding-right: 30px; padding-left: 15px; }
.nav_c_t p { line-height: 30px; color: #fff; }
.bt_w_y { background-color: #FFFFFF; border-radius: 50%; height: 65px; width: 65px; float:right; text-align: center; }
.ejbt { color: #fff; margin-left: 10px; text-align:right; margin-bottom:10px; }
.xwcms { -webkit-transform: rotateZ(180deg); -moz-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); transform: rotateZ(180deg); }
.liucheng_bt { border-bottom: 1px solid #3681cb; padding-left: 3px; padding-bottom: 8px; font-size:20px;} 
.liucheng_jdlc li { /*border: 1px solid #ccc;*/
margin-top: 30px; padding: 10px 20px 0; }
#newstartsoft_kf_an { text-align: right; padding-right: 15px; margin-top: 20px; }
.panel-default > .panel-heading { background-color: #fff; font-size: 27px; }
.panel-default > .panel-body { font-size: 20px; }
.liucheng_jdlc { border-left: 2px solid #f86d0d; padding-left: 50px; }
.newstartsoft_kf_tb { border-radius: 50%; float: left; font-size: 32px; line-height: 50px; margin-left: -102px; margin-top: -13px; position: absolute; transition: font-size 0.25s ease-out 0s; }
#newstartsoft_lc_an { background: #f86d0d none repeat scroll 0 0; color: #fff; padding: 6px 35px; font-size: 20px;    border: 0; }
.liucheng .panel-heading, .liucheng .panel-body { padding: 10px 30px; }
.newstartsoft_gd_bt { background-color: #f5f5f5; text-align: center; }
#newstartsoft_gd { text-align: center; }
.newstartsoft_jiage_fw i { font-size: 80px; }
.newstartsoft_jiage_fw1 i { font-size: 60px; }
.newstartsoft_jiage_fw { padding: 0 30px !important; text-align: center; }
.newstartsoft_jiage_fw1 { padding: 0 40px !important; text-align: center; }
.shfw, .xtbf { padding: 10px 15px; }
.newstartsoft_jiage_jiage { width: 100px; }
.comm-course-list > div { text-align: center; }
.shfw, .xtbf { padding: 10px 15px; }
.newstartsoft_jiage_jiage { width: 100px; }
#daohang { position: absolute; z-index: 2; background: #fff; }
.nav_t { position: absolute; z-index: 3; background: 0; }
/**文字标题*/
.index_titletop { display: none; overflow: hidden; padding-top: 0px; margin-top: 32px; padding-bottom: 0px; margin-bottom: 0px; position: absolute; z-index: 2; line-height: 20px; }
/**产品*/
/**style="display: none; overflow: hidden; padding-top: 20px; margin-top: 25px; padding-bottom: 0px; margin-bottom: 0px;"*/ /**方案*/
/**style="display: none; overflow: hidden;  padding-top: 20px; margin-top: 25px; padding-bottom: 0px; margin-bottom: 0px;"*/ /**关于*/
/**轮播*/


.nav_c_t_cp, .nav_c_t_kh, .nav_c_t_bz { /*width:66%;*/ float: right; }
.nav_c_t_kh li, .nav_c_t_bz li { /*width: 33.33%;*/}
.nav_c_t_kh ul { margin: 0 auto; width: 600px; }
.nav_c_t_kh li { float:left }
.nav_c_t_bz ul { margin: 0 auto; width: 600px; }
.nav_c_t_bz li { float:left }
.nav_c_t_gy li { padding: 0 !important; width: 14.2%; float:left; }
.nav_c_t_gy ul { float: right; margin: 0 auto; }
.nav_c_t_gy ul { margin: 0 auto; width: 100%; }
.nav_c_t_kh > ul > li, .nav_c_t_bz > ul > li, .nav_c_t_gy > ul > li { float: left; }
.nav_c_t_gy .bt_w_y{MARGIN-LEFT:25px;}
.nav_c_t_bz > ul > li p, .nav_c_t_gy > ul > li p { margin-bottom:10px; }
.nav_c_t_kh .ejbt { margin-bottom:10px; }
.nav_c_t_kh li { width: 16.66%; }
.nav_c_t_bz li { width: 33.33%; }
.nav_c_t_bz .ejbt { margin-bottom:10px; text-align:right }
nav_c_t_gy .ejbt { margin-bottom:10px; text-align:right }
.nav_c_t_cp .bt_w_y { margin-top: 20px; }
#caidan { min-height: 220px !important; }
.newstartsoft_hxgn { padding: 0 !important; }
.white.newstartsoft_hxgn > li { line-height: 30px; }
.newstartsoft_hxgn_bt { font-weight: bold; }
.caidan .nav > ul > li { float: left; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background-color: rgba(0, 0, 0, 0.1); color: #000; }
.wxfw img { float: left !important; }
.textc { text-align: center; }
.textl { text-align: left; }
.textr { text-align: right; }
.newstartsoft_zdts > div { border-left: 1px solid #696969; border-right: 1px solid #484848; float: left; height: 80px; text-align: center; }
#userName { width:40%; margin-right:2% }
#userPhone { width:45%; margin-left:5%; margin-right:2% }
.iconHover { color: #000; text-decoration: none; !important;}
#uf_Submit { background-image: none; background-color:#fff; }
.nav_c_t_kh a, .newstartsoft_hxgn a, .nav_c_t_gy a { color:#fff; }
.hzs img { border:1px solid #ddd }
.carousel-indicators li { border:1px solid #f86d0d !important }
.nav_c_t_kh a p:hover, .newstartsoft_hxgn a:hover, .nav_c_t_gy a p:hover, .nav_c_t_bz a p:hover { color:#000; text-decoration:none; }
.jiage_banner { background: rgba(0, 0, 0, 0) url("../images/tybj_banner.jpg") repeat scroll center center; height:390px; }
.fwbz_banner { background: rgba(0, 0, 0, 0) url("../images/fwbz_banner.jpg") repeat scroll center center; height:390px; }
span.bds_more, .bds_tools a { height:25px !important; }
.zxwd .wdss p { margin:0 }
.activeml { color:#f86d0d !important; border-left:4px solid #f86d0d; }
.lesson li { color:#999; height:40px; line-height:40px; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; }
.lesson li span { font-size:16px; }
.lesson li:hover { color:#f86d0d; border-left:4px solid #f86d0d; }
.zhangjie { height: 40px; line-height: 40px; overflow: hidden; width: 92%; }
.zhangjie a { color: #999; }
.fenlei span { padding:3px 10px; margin-right:8px; border-radius:5px }
.fenlei a { color:#666 }
.fenlei a:hover { color:#f86d0d !important }
.febleifouse { border:1px solid #999; color:#f86d0d !important; background-color:#eee !important; }
.fenlei span { background-color:#f6f6f6 }
.i-box { border-bottom: 1px solid #ccc; }
.zxwk_bt { font-size:18px; color:#666666; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; }
.zxwk_bt:hover { color:#f86d0d; }
.zxwk_nr { height:40px; overflow:hidden }
.zxwk_nr:hover { color:#f86d0d; }
.i-box .liexing { padding: 15px 10px; }
.liexing>img { padding:15px 10px; }
.zxwd_yl, .zxwd_xz { padding:5px 20px; }
.mul { font-size: 20px; line-height: 54px; }
.wdfl { border:1px solid #ccc; margin-top:-1px; }
.border_b1 { border-bottom:1px solid #ccc }
.chanpin_fl { border-bottom:1px solid #ccc; padding:50px 0 }
.liexing >img:hover { animation: 1.2s linear 0s normal none infinite running fUp; }
.RoundRect { background: #7ec058 none repeat scroll 0 0; border-radius: 40px; color: #ffffff; float: left; font-size: 50px; line-height: 80px; text-align: center; width: 80px; }
.font2 { color: #7ec058; font-size: 30px; line-height: 47px; margin-left: 22px; }
.font3 { color: #8f8f90; font-size: 20px; margin-left: 22px; }
.module1 .p { color: #b9b9b9; font-size: 12px; font-weight: normal; line-height: 18px; margin-top: 3px; }
.module1 { /* margin-right: 30px;*/text-align: center;/*width: 185px;*/}
.module1>img { margin-bottom: 20px; margin-top: 20px; }
.fontstyle1 { }
.RoundRect1 { background: #586ec0 none repeat scroll 0 0; border-radius: 40px; color: #ffffff; float: left; font-size: 33px; line-height: 80px; text-align: center; width: 80px; }
.api { color: #586ec0; font-size: 30px; margin-left: 20px; }
.webs { color: #8f8f90; font-size: 18px; margin-left: 20px; }
.p3list .img01 { float: left; margin: 10px 15px 10px 70px; }
.module8 .font6 { color: #585858; font-size: 20px; margin-top: 20px; }
.module8 .font7 { color: #999999; font-size: 20px; }
.p4list .font8 { color: #585858; font-size: 20px; margin-top: 25px; }
.liveroom { padding:30px 0 }
.Solvetheproblem, .Provideproduct, .TapedClassroom_Characteristic { padding:70px 0 }
.Solvetheproblem h1, .Provideproduct h1, .TapedClassroom_Characteristic h1, .TapedClassroom_Successfulcase h1 { text-align:center; color:#00aff0; letter-spacing:13px }
.TapedClassroom-introduce { text-align:center; color:#555; margin-top:20px; }
.Solvetheproblem .thumbnail img { padding:8px 20px; }
.Solvetheproblem .thumbnail .caption { border-top:1px solid #fff; padding:18px 33px 8px; color:#555; text-align: left; }
.Solvetheproblem_main, .Provideproduct_main, .TapedClassroom_Characteristic_main, .TapedClassroom_Successfulcase_main { margin-top:80px; }
.Solvetheproblem .thumbnail p { margin-bottom:10px; }
.TapedClassroom-cpfw li:last-child { border-right:1px solid #ddd; }
.tapedclassroom-cpfw img { display: inline-block; }
.Provideproduct_introduce { background-color:#fff; color:#555; padding:15px; font-size:13px; border-radius:0 0 3px 3px }
.Provideproduct_introduce_img img:hover { transform: scale(1.2); transition: all 1s ease 0s; overflow: hidden; display: block; }
.Provideproduct_introduce_main { overflow:hidden; position: relative; }
.Provideproduct_introduce_img { display: block; overflow: hidden; position: relative; transition: all 1s ease 0s; }
.Provideproduct_introduce_img img { display: block; overflow: hidden; position: relative; transition: all 1s ease 0s; border-radius:3px 3px 0 0 }
.Provideproduct_introduce_imgname { position:absolute; top:20px; color:#fff; left:20px; }
.Provideproduct_introduce_name { margin-bottom:10px; }
.TapedClassroom_Characteristic_caption_bt { font-size:20px; color:#00aff0; text-align:center; margin-bottom:10px; }
.TapedClassroom_Characteristic_caption_jieshao { color:#555; text-align:center; height:40px; overflow:hidden; margin-bottom:10px; }
.TapedClassroom_Characteristic_main .thumbnail { margin:0 15px; border:0; text-align:center; }
.TapedClassroom_Successfulcase_main img { margin-bottom:40px; border-radius:3px; }
.TapedClassroom_Contactinformation_body { margin-bottom: 50px; }
.TapedClassroom_Contactinformation { padding:15px; border:2px solid #00aff0; background-color:#fff; color:#555; line-height: 60px; border-radius:3px; }
.TapedClassroom_Contactinformation img { margin:0; }
.TapedClassroom_Successfulcase { text-align:center }
.TapedClassroom_Successfulcase_main img { display: initial !important; }
@media (min-width:768px) {
.appDownBtnAndroid{margin:0 auto;float:none}.appDownBtnIphone{margin:0 auto;float:none;width: 240px;}
.TapedClassroom-cpfw li {border-left: 1px solid #ddd;text-align: center;float:left;width:16.666%;margin-left: -1px;border-right: 1px solid #ddd;margin-bottom:20px;}
.Solvetheproblem .thumbnail {background-color:#eaf0f5;border-radius:3px;border:0;margin:0 14px;font-size:13px;padding:0;text-align: center;}
.Provideproduct_introduce_main {margin-top:20px;padding:0 8px !important;}
}
.bj-f9 { background-color:#f9f9f9; }
ul li { list-style-type:none }
.No2016 { border-top:1px solid #ddd; }
.banner-zhibo { background-color: #4594d1; width: 100%; }
.tks-bankuan { padding-top:80px; padding-bottom:100px; }
.tks-bankuan-img1 img { animation: 1.2s linear 0s normal none infinite running fUp; }
.live-bankuan-img img { margin-top:60px; }
.neirong { border-left:3px solid #3681cd; }
.neirong .zibiaoti { color: #3681cd; font-size: 18px; font-weight: bold; margin-bottom: 25px; margin-left: 15px; margin-top: 35px; }
.neirong .zibiaoti2 { color: #555; font-size: 14px; margin-bottom: 10px; margin-left: 15px; overflow: hidden; }
.live-bt h1 { color: #3681cd; text-align:center }
.live-bt2 { color: #555; text-align:center }
.yzh_z .ys_blue { font-size: 20px; }
.yzh_t_margin { margin-bottom: 25px; margin-top: 70px; text-align: center; }
.ys_blue { color: #0183e0; }
.ys_h { color: #8d8d8d; }
.tks-zhibo-cpgnjs { padding: 15px 10px; }
.tks-zhibo-cpgnjs:hover { border-color: #dfdfdf; box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15); transition: all 0.3s ease 0s; }
.mt60 { margin-top:60px; }
.huida { background-color: #ffffaa; border: 1px solid #f0f0f0; margin-bottom: 10px; margin-left: 50px; overflow: hidden; text-indent: 24px;/*width: 80%;*/ }
.huida p { color: #dd8700; font-size: 13px; margin: 10px; }
.wenda .zibiaoti { color: #848484; font-size: 18px; font-weight: bold; margin-bottom: 25px; margin-left: 15px; margin-top: 35px; }
.wenda .zibiaoti2 { color: #676767; font-size: 13px; margin-bottom: 5px; margin-left: 15px; overflow: hidden; }
.live-bankuan-gn { text-align:center; }
.live-wljx-img .carousel-inner > .item > a > img, .live-wljx-img .carousel-inner > .item > img, .live-wljx-img .img-responsive, .thumbnail a > img, .live-wljx-img .thumbnail > img { display:inline }
.kaoshi-banner { background-color: #ececec; }
.kaoshi-bt h1 { color: #3681cd; text-align:center }
.kaoshi-bt2 { color: #555; text-align:center }
.kaoshi-gnjg { padding:40px 0px 30px; border:1px solid #ddd; text-align:center; margin:40px 20px 0; }
.kaoshi-gnjg-img img { background-color:#4f9ed7; border-radius:50%; display: inline; width:50%; padding:20px; }
.kaoshi-gnjg-jieshao { color:#555; }
.kaoshi-gnjg-jieshao h4 { padding:10px 0; }
.kaoshi-gnjg-jieshao p { line-height:22px; }
.kaoshi-zujuan-neirong { margin-top:40px; }
.kaoshi-zujuan { padding-left:40px; }
.kaoshi-zujuan-bt { color:#555; margin-top:60px; }
.kaoshi-zujuan-bt2 { color:#777 }
.kaoshi-jiankao-neirong { margin-top:40px; text-align:center }
.kaoshi-jiankao-neirong img { display:inline }
.kaoshi-zujuan-neirong_bt { color:#555; margin-top:30px }
.kaoshi-zujuan-neirong_bt2 { color:#777 }
.kaoshi-yidong-neirong { margin-top:40px; }
.xuexi-banner { background-color: #ececec; }
.xuexi-bt h1 { color: #3681cd; text-align:center }
.xuexi-bt2 { color: #555; text-align:center }
.xuexi-gongnneg-jg { margin-top:40px; }
.xuexi-gnjg { padding:40px 0px 30px; border:1px solid #ddd; text-align:center; margin:0 20px; }
.xuexi-gnjg-img img { background-color:#4f9ed7; border-radius:50%; display: inline; width:50%; padding:20px }
.xuexi-gnjg-jieshao { color:#555; }
.xuexi-gnjg-jieshao h4 { padding:10px 0; }
.xuexi-gnjg-jieshao p { line-height:22px; }
.xuexi-zujuan-neirong { margin-top:40px; }
.xuexi-zujuan { padding-left:40px; }
.xuexi-zujuan-bt { color:#555; margin-top:60px; }
.xuexi-zujuan-bt2 { color:#777 }
.xuexi-jiankao-neirong { margin-top:40px; text-align:center }
.xuexi-jiankao-neirong img { display:inline }
.xuexi-zujuan-neirong_bt { color:#555; margin-top:30px }
.xuexi-zujuan-neirong_bt2 { color:#777 }
.xuexi-yidong-neirong { margin-top:40px; }
.peixun-banner { background-color:#f1f1f1; padding:70px 0 }
.peixun-banner-right { margin-top:50px; }
.peixun-banner-right-1 { color:#555 }
.peixun-banner-right-2 { color:#3681cd; margin:20px 0 30px; }
.peixun-banner-right-3 { color:#555 }
.peixun-banner-right-4 { color:#555 }
.peixun-banner-right-5 { color:#555; margin-top:30px; }
.peixun-banner-btn { background:#f1f1f1; padding:10px 20px; border:1px solid #555; }
.peixun-neirong .zibiaoti { color:#3681cd; font-weight: bold; margin-bottom: 25px;/*margin-left: 15px;*/ line-height:41px; }
.peixun-neirong { margin-top:60px; }
.peixun-neirong .zibiaoti h1 { line-height:41px; }
.peixun-neirong .zibiaoti2 { font-size:18px; line-height:37px; color:#666 }
.peixun-gongneng { margin-top:60px; }
.peixun-gongneng section { width:50%; border:1px solid #ddd; float:left }
.peixun-gnjg { padding: 4em 4em 2em; text-align:center; margin:0 20px; }
.peixun-gnjg-img img { border-radius:50%; display: inline; width:30%; padding:20px }
.peixun-gongneng section:first-child .peixun-gnjg-img img { background-color:#97c2f0; }
.peixun-gongneng section:nth-child(2) .peixun-gnjg-img img {background-color:#87d8f0;}
.peixun-gongneng section:nth-child(3) .peixun-gnjg-img img {background-color:#b1bff3;}
.peixun-gongneng section:nth-child(4) .peixun-gnjg-img img {background-color:#cdbef4;}
.peixun-gnjg-jieshao { color:#555; }
.peixun-gnjg-jieshao h4 { padding:10px 0; }
.peixun-gnjg-jieshao p { line-height:22px; }
.peixun-gongneng > *:nth-child(2n) {border-left-width: 0;}
.peixun-gongneng > *:nth-child(3) {border-top-width: 0;}
.peixun-gongneng > *:nth-child(4) {border-top-width: 0;}
.peixun-bt h1 { color: #3681cd; text-align:center }
.peixun .vpeixun { border:1px solid #888; border-radius: 10px; padding:10px 15px; }
.peixun .vpeixun_bt { line-height:30px }
.peixun .vmain { color:#888; text-align:center }
.peixun .vpeixun { color:#888 }
.peixun .vpeixun_bt { color:#555 }
.peixun .vpeixun_jishu { color:#888; margin-top:60px; }
.peixun .vpeixunmain { margin-top:50px; }
.peixun-taocan { color:#555; margin-top:60px; }
.peixun-taocan thead { background-color:#f8f8f8; color:#555; }
.peixun-taocan thead tr th { text-align:center; vertical-align: middle; border-bottom:0; font-size:18px; line-height: 20px; padding:20px 0 }
.peixun-taocan thead tr th span { font-weight: normal; font-size:12px }
.peixun-taocan tr td:first-child { vertical-align:middle; letter-spacing: 3px; }
.peixun-taocan tr td:nth-child(2) {font-size:12px;}
.peixun-taocan tr td:nth-child(3), .peixun-taocan tr td:nth-child(4), .peixun-taocan tr td:nth-child(5) {text-align:center;vertical-align:middle}
.theadth1 { width:16.66% }
.theadth2 { width:33.36% }
.theadth3 { width:16.66% }
.theadth4 { width:16.66% }
.theadth5 { width:16.66% }
/*.xuexi-gongnneg-jg{ display:none}*/
.toumingd0 { filter:alpha(opacity=0) !important; -moz-opacity:0 !important; -khtml-opacity: 0 !important; opacity: 0 !important; }
/*.toumingd1{filter:alpha(opacity=100) !important; -moz-opacity:1.0 !important; -khtml-opacity: 1 !important; opacity: 1 !important;}*/
@keyframes fUp { 0% {transform: translateY(0px);}
50% {transform: translateY(10px);}
100% {transform: translateY(0px);}
}
}
ul { list-style: outside none disc; margin: 0 0 2em; padding-left: 1em; }
ul li { padding-left: 0.5em; }
ul.alt { list-style: outside none none; padding-left: 0; }
ul.alt li { border-top: 1px solid; padding: 0.5em 0; }
ul.alt li:first-child { border-top: 0 none; padding-top: 0; }
ul.icons { cursor: ew-resize; list-style: outside none none; padding-left: 0; }
ul.icons li { display: inline-block; padding: 0 1em 0 0; position: relative; }
ul.icons li:last-child { padding-right: 0 !important; }
ul.icons li .icon::before {border: 1px solid;border-radius: 100%;display: inline-block;font-size: 1.25em;height: 2.25em;line-height: 2.25em;text-align: center;transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;width: 2.25em;}
ul.icons.major { margin: 3.5em 0; }
ul.icons.major li { /* padding: 0 10em 0 0;*/
width:24%; text-align: center; }
ul.icons.major li .icon::before {font-size: 2.25rem;height: 3.5em;line-height: 3.5em;width: 3.5em;}
ul.icons.style2 li::before {border-top: 1px solid #555;content: "";display: block;height: 1px;left: -1em;position: absolute;top: 32%;width: 3em;}
ul.icons.style2 li:first-child::before {display: none;}
ul.icons.style2.major li::before {left: -5.4em;width: 9.5em;}
ul.icons.style2.major li img { border: 1px solid #555; border-radius: 50%; padding: 40px; width: 150px; }
.tks-yunying-major-bt { margin-top:20px; font-size:20px; color:#555 }
.tks-yunying-major-nr { color:#555; height:40px; }
@media (max-width: 1280px) {
ul.icons.major {margin: 0 0 2em;}
ul.icons.major li {padding: 1em !important;}
ul.icons.major li::before {display: none;}
ul.icons.style2 li::before {display: none;}
}
@media (max-width: 980px) {
ul.icons.major {margin-left: auto;margin-right: auto;/* max-width: 34em;*/}
}
@media (max-width: 736px) {
ul.icons.major {/* max-width: 30em;*/}
ul.icons.major li {padding: 0.75em !important;}
ul.icons.major li .icon::before {height: 2.75em;line-height: 2.75em;width: 2.75em;}
ul.icons.style2.major li {width:49%;text-align: center;}
ul.icons.style2.major li img {border: 1px solid #555;border-radius: 50%;padding: 40px;width: 100%;}
.navbar-brand {width: 80%}
.hidden-xs {
    display: none !important;
}
}
@media(max-width: 480px) {
ul.icons.major {max-width: 100%;}
ul.icons.major li {padding: 0.5em !important;}
ul.icons.major li .icon::before {font-size: 1.75rem;}
 ul.icons.style2.major li {width:49%;text-align: center;}
ul.icons.style2.major li img {border: 1px solid #555;border-radius: 50%;padding: 40px;width: 100%;}
}
.centerText p:nth-child(2){line-height:20px;font-size:12px;}
@media (max-width:768px) 
{
    .caidan .dropdown ul{
    width: 100%;
    background: #f86d06;}
    
.pingjia_xiangqing{display:none;}
.centerImg p{height:40px;}
#footer .fs48 {font-size: 18px;}
.kaoshi-gnjg-img img{padding:10px;}
.liucheng .panel-heading, .liucheng .panel-body{padding:10px;}
.newstartsoft_kf_tb{     margin-left: -70px;}
.liucheng_jdlc{padding-left:16px;}
.fwlc {margin: 10px 0px 60px 10px;}
.navbar-brand img{border-right:0}
.tks-bankuan-img {text-align:center}
.tks-bankuan-img img {display: inline;}
.live-bt h1, .kaoshi-bt1 h1, .peixun-bt h1 {font-size:24px;}
.peixun-neirong .zibiaoti h1 {font-size:24px;}
.peixun-neirong .zibiaoti2 {font-size:14px;}
.kaoshi-gnjg {border: 1px solid #ddd;margin: 40px 0 0;padding: 40px 0 30px;text-align: center;}
.live-bt2 br {display: none;}
.kaoshi-bt2 br {display: none;}
.yulan2 br {display: none;}
.live-bankuan-gn br {display: none;}
.peixun-gnjg {margin: 0 15px;padding: 1em 0;text-align: center;}
.peixun-gnjg-img img {background-color: #4f9ed7;border-radius: 50%;display: inline;padding: 13px;width: 60%;}
.kaoshi-zujuan-neirong_bt {text-align:left}
.kaoshi-zujuan-neirong_bt2 {text-align:left}
.tks-bankuan {padding:30px;}
.peixun-neirong {margin-top:0}
.peixun-taocan {width: 100%;overflow: auto;}
.yunying-taocan {width: 520px;max-width:520px;display: block;}
.xuexi-gnjg {margin:0}
.fwlc .liucheng {padding:0 0 0 20px ;margin:0}
#newstartsoft_kf_an .tcr {text-align:left;}
.xuexi-bt h1, .kaoshi-bt h1, .live-bt h1 {font-size:26px;}
.xuexi-gnjg {margin:0}
.xuexi-gnjg-img img {padding:10px;}
.live-bankuan-img img {margin-top: 30px;}
.huida {margin-left:30px;}
.xuexi-zujuan-neirong {margin-top:0}
.appDownBtnIphone{float:none}
.Solvetheproblem_main, .Provideproduct_main, .TapedClassroom_Characteristic_main, .TapedClassroom_Successfulcase_main {margin-top:40px;}
.Solvetheproblem, .Provideproduct, .TapedClassroom_Characteristic {padding:40px 0}
.Solvetheproblem h1, .Provideproduct h1, .TapedClassroom_Characteristic h1, .TapedClassroom_Successfulcase h1 {font-size:24px;letter-spacing:5px}
.TapedClassroom-introduce {font-size:16px;margin-top:20px;}
.TapedClassroom-cpfw li {border-left: 1px solid #ddd;text-align: center;float:left;width:33.33%;margin-left: -1px;border-right: 1px solid #ddd;margin-bottom:20px;}
.Solvetheproblem .thumbnail {background-color:#eaf0f5;border-radius:3px;border:0;margin:10px 0;font-size:13px;padding:0}
.Provideproduct_introduce_body {padding:0 7px;}
.Provideproduct_introduce_main {margin-top:20px;padding:0 15px !important;}
.header-p{width:100%}
.header-p p{fong-size:14px;}
.jjwt{    height: 350px;}
.jj-wenti li{width:33.33%}
#example-navbar-collapse{background: #f86d0d !important;}

.caidan{float:left !important;padding-left:0 !important;width:100%}
.dropdown i{color:#fff}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #fff !important;}
.dropdown{width:100%;padding:5px 0 !important}
.dropdown ul{box-shadow:0 0 0 0}
.dropdown a:hover{background-color:Transparent !important}
 
.dropdown a{color:#fff !important;line-height: 2.4;}
.dropdown:hover{background-color: transparent !important}
.dropdown-submenu > .dropdown-menu{display:block;margin-left:0 !important;left:0 !important;top:38px !important;}
.dropdown-submenu > a:after{display:none !important}

.welcomekulj{display:none}
/*.dropdown-menu{margin-top:0}*/
#example-navbar-collapse{    background-color: #f86d0d !important;}
}
.dropdown-menu ul li:nth-child(3) {
    display: none;
}
* { font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif, Arimo, "Helvetica Neue"; font-size: 14px; }
a, a:hover { text-decoration:none }
ul li { list-style-type:none }
.welcome { line-height: 30px; color: #fff; }
.banner_cursousel_img { margin-top:35px }
.caidan { float: right;}
.caidan{ 
-webkit-animation: twinkling 1s both ease-in ;animation: twinkling 1s both ease-in ;
} 

@-webkit-keyframes twinkling{ 
0%{ 
opacity: 0; 
} 

50%{ 
opacity: 0.5; 
} 
100%{ 
opacity: 1; 
} 
} 
@keyframes twinkling{ 
0%{ 
opacity: 0; 
} 

50%{ 
opacity: 0.5; 
} 
100%{ 
opacity: 1; 
} 
}

.erjimenu{width:100%; background:#e3e3e3;}
.erjimenu li img{margin-bottom: 10px;;transition: all 0.3s ease 0s;width:70px;}
.erjimenu li:hover { background-color:#3f4042 ;transition: all 0.3s ease 0s;}
.erjimenu .active{ background:#3f4042}
.erjimenu ul {margin: 0 auto;padding: 0px;width:100%}
.erjimenu ul li{ float:left;padding: 10px 55px;list-style: none;transition: all 0.3s ease 0s; text-align:center}
.erjimenu ul li a{color:#fff}
.erjimenu_bottom{height:2px;  background:rgba(255,255,255,0.6)}
@media (max-width: 922px) {
.erjimenu{width:100%; overflow-x:scroll}
}
@media (max-width: 1170px) {
	.erjimenu{width:100%; overflow-x:scroll}
}

@media (max-width: 992px) 
{
    .navbar-brand img:nth-child(2){display:none !important}
     .navbar-brand img:nth-child(1){border-right:0 !important}
.qykh_vwenti h4 {
font-size:14px;
margin:0
}
.qykh_vmain4 {
    padding: 0 20px;
    text-align: center;
}
.qykh_vwenti p {
margin:0
}
.qykh_vwenti {
padding-left:0
}
}
 @media (max-width: 768px) {
 .qykh_vwenti h4 {
font-size:14px;
margin:10px 0
}
.qykh_vwenti p {
margin:0 0 10px
}
.qykh_vwenti {
padding-left:15px
}
.qykh_vmain4 {
padding:0 15px;
}
 .vchanpin tr td:nth-child(1){width: 50px; text-align: center;}
}

.banner-img{background: url(../images/banner-khal.png) center;height: 420px; }
.newstartsoft_khalnav ul{border:0;padding:60px 0 20px;width: 600px;margin:0 auto;}
		.newstartsoft_khalnav ul >li.active>a, .newstartsoft_khalnav ul>li.active>a:focus, .newstartsoft_khalnav ul>li.active>a:hover{
			background-color: #3399ff;color:#fff;
		}
		.newstartsoft_khalnav ul>li a{background-color: #c6c6c6; color: #fff; border-radius: 50px; padding: 15px 40px; font-size: 1.8rem;}
		.newstartsoft_khalnav ul>li a:hover{background-color: #3399ff;color:#fff;}
		.newstartsoft_khalnav ul>li a i{font-size: 20px;margin-right:13px;}


		.newstartsoft-khal{box-shadow: 1px 1px 7px 4px #eee;margin: 0 5px 40px;transition: all 0.3s ease 0s;}
		.newstartsoft-khal:hover{box-shadow:1px 1px 7px 4px #eee;;transform: translateY(-6px);transition: all 0.3s ease 0s;}
		.newstartsoft-khal_img{position: relative;}
		.newstartsoft-khal_imglogo{position: absolute;bottom:11px;padding-left:20px;    width: 100%;}
		.newstartsoft-khal_imglogotxt{    position: absolute; bottom: 8px; left: 100px;  color: #fff; font-size: 12px;}
		.newstartsoft-khal_imglogotxtchese{font-size:18px;}
		.newstartsoft-khal_imglogotxtenglish{font-size:12px;line-height: 14px;}
		.newstartsoft-khal_txt{color: #666;padding:20px 15px 5px  15px;font-size:13px;line-height: 18px;min-height:133px;}
		.newstartsoft-khal_time{ position: relative;    padding: 10px 15px; }
		.newstartsoft-khal_timeyear{color:#333}
		.newstartsoft-khal_timemore{color: #3399ff;cursor: pointer;position: absolute;right:15px;top:10px;}
		.newstartsoft-khal_timemore a{color: #3399ff;}
		.newstartsoft-khal_htimg{text-align: right;padding:0 15px;}
		.newstartsoft-khal_htimg img{max-width:100%}
.newstartsoft-khal_img{height:210px;background-size: cover !important;}
.newstartsoft-khal-more {    text-align: center;margin: 20px auto 60px;background-image: url(../images/khal_more.png);background-position: 50% 100%;background-repeat: no-repeat;padding-bottom: 45px;}
.newstartsoft-khal-more span{    background: #eee;color: #666;line-height: 24px;padding: 10px 20px 15px;border: 1px solid #ddd;border-bottom:0;background-image: url(../images/khal_xuxian.png);;background-position:100% 100%;    background-repeat: repeat-x;}
.newstartsoft-khal-fgx{height:1px ;background:#ccc;margin:10px 0 30px}
.newstartsoft_banner_title{margin-top:10px;}
		.newstartsoft_bj{padding: 70px 0;text-align: center;}
		.newstartsoft_banner_title{margin-top:10px;}
		.newstartsoft_banner_txt{margin-top: 10px;font-size:46px;font-family: }
		.newstartsoft_banner_stitle{margin-bottom:30px;line-height: 30px;}
		.newstartsoft_banner_btn .btn{background-color: #3399ff;color:#fff;padding:9px 40px;border: 0}
		.newstartsoft_banner_btn .btn:active，.newstartsoft_banner_btn .btn:focus{background-color: #3399ff;box-shadow: 1px 3px 8px 2px #ccc;}
		.newstartsoft_banner_btn .btn:hover{box-shadow: 1px 3px 8px 2px #ccc;}
		
		.newstartsoft_right{padding:100px 0;position: absolute;top:100px;left:50%;}
		.newstartsoft_fwbz_bj{color: #fff;background-color: rgba(0,0,0,.5); padding: 25px 50px;}
    .newstartsoft_fwbz_text{ font-size: 39px;letter-spacing: 4px;}
    .newstartsoft_fwbz_etext{font-size:22px;}
    
    
    .newstartsoft_index{position: relative;}
	.newstartsoft_index_left{width: 55%;color: #fff;padding:205px 0 210px;}
	.newstartsoft_index_right{width: 56%; position: absolute;right:0;bottom:-1px;text-align: right;}
	.newstartsoft_index_right img{max-width:100%}
	.newstartsoft_index_btngroup{margin-top: 32px;}
	.newstartsoft_index_btngroup a{margin-right: 20px;color: #fff;}
	.newstartsoft_index_btngroup .btn{padding:8px 40px;}
	.newstartsoft_index_btngroup a i{margin-right:8px;}
	.newstartsoft_index_etext{font-size: 18px;}
	.newstartsoft_index_text{font-size: 46px;}
	
		@media (min-width:992px) and (max-width:1170px)
		{ .newstartsoft_index_text{font-size:34px;}
		  .newstartsoft_index_left{    padding: 90px 0 90px;}
		    }
		@media (min-width:768px) and (max-width:992px){
			.newstartsoft-khal_txt{min-height: 151px;}
			.newstartsoft_khalnav ul{width:420px;}
			.newstartsoft_index_text{font-size:26px;}
			.newstartsoft_index_left{    padding: 80px 0 80px;}
			.newstartsoft_khalnav ul>li a{    padding: 10px 20px; font-size: 1.6rem;}
.newstartsoft_khalnav ul>li a i{font-size: 14px;margin-right: 5px;}
			.dropdown a{padding:5px 7px;}
			.newstartsoft_fwbz_text{font-size:30px;}
		}
		@media (max-width:768px) 
		{.newstartsoft_index_left{padding:70px 0}
		    .newstartsoft_index_left{width:100%}
		    .newstartsoft_index_text{font-size:24px;}
		       .newstartsoft_fwbz_bj{width:352px;}
		    .newstartsoft_right{left:50%;margin-left:-176px}
		    .newstartsoft_fwbz_text{font-size:24px;}
		     .newstartsoft_fwbz_etext{font-size:14px;}
		    .newstartsoft_banner_txt{font-size:20px;}
		    .newstartsoft-khal_txt{min-height: 90px;}
			.newstartsoft_khalnav ul{width:300px;}
			.newstartsoft_khalnav ul>li a{    padding: 10px 9px; font-size: 1.2rem;}
.newstartsoft_khalnav ul>li a i{font-size: 14px;margin-right: 5px;}
.banner-img {
    background: url(../images/banner-khal.png) center;
    height: 170px;
    background-size: cover;
}
			 }
			 
			 
			 @media (max-width:352px) 
		{   .newstartsoft_fwbz_bj{width:300px;padding:25px 24px}
		    .newstartsoft_right{left:50%;margin-left:-150px}
		    .newstartsoft_fwbz_text{font-size:24px;}
		     .newstartsoft_fwbz_etext{font-size:14px;}
		     
		}