*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
nav{
    height: 50px;
    background: #007aff;
    width: 100%;
    position: fixed;
    top: 0;
    line-height: 50px;
    color:#fff;

}
.logo{
    width: 130px;
    height: 35px;
    float:left;
    margin: 10px;
}
.logo img{
    width: 100%;
}
.nav-right{
    float: right;
    font-size: 14px;
}
.nav-right a{
    padding: 15px;
}
.nav-right a:visited {color: #ffffff;}


